h3 a{
    color: black;
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

.navigation.col-lg-12{
    margin-top: 10px;
}
.jumbotron{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #ccc;
}

.navbar-nav .active{
    border-bottom: 3px solid orange;
}

.navbar-default .navbar-nav>li>a:hover{
    transition: all 300ms;
    border-bottom: 3px solid orange;

}

.navbar-default .navbar-nav>li>a{
    transition: all 300ms;
    border-bottom: 3px solid transparent;

}

.image_for_edit img{
    width: 60px;
}

.avatar{
    width: 35px;
    height: 35px;
    border-radius: 700px;
    overflow: hidden;
    margin-top: 10px;
}

.avatar img{
    width: 45px;
}

.animal-image-mask, .keeper-image-mask{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.animal-image-mask img, .keeper-image-mask img{
    max-width: 270px;
    max-height: 200px;
    overflow: hidden;
}

.boton_transiciones{
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 4px solid green;
    transition: border 2s, border-radius 500ms, background 5s;
    width: 100px;
    display: block;
}

.boton_transiciones:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    background: #ccc;
    border: 1px solid red;
}

.caja_animada{
    margin-top: 15px;
    background: green;
    border: 5px solid black;
    width: 400px;
    height: 400px;
    /*animation-name: rotacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;*/
}

@keyframes rotacion{
    from {
        margin-left: 0px;
        transform: rotate(0deg);
    }
    to{
        margin-left: 400px;        
        background: red;
        transform: rotate(360deg);
    }
}

@keyframes deslizamiento1{
    0% {
        margin-left: 0px;
    }
    50%{
        margin-left: 400px;        
        background: red;
    }
    75%{
        border-radius: 400px;
    }
    100%{
        margin-left: 0px;
        background: yellow;
    }
}

@keyframes deslizamiento{
    from {
        margin-left: 0px;
    }
    to{
        margin-left: 400px;        
        background: red;
    }
}