<div class="col-lg-8 col-xs-offset-2" [@fadein]>
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Disfruta de los animales mas exoticos de nuestro zoo</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/home']">
                Nos vamos al pirulo
            </a>
            <a class="btn btn-success btn-lg" role="button" [routerLink]="['/animales']">
                Animales
            </a>
            <a class="btn btn-warning btn-lg" role="button" [routerLink]="['/contacto']">
                Deja un mensaje
            </a>
        </p>
    </div>
</div>

