<div class="col-lg-6">
<h1>
  {{titulo}}
</h1>

  <div class="alert-success" *ngIf="status === 'success'">
    Usuario registrado correctamente, <a [routerLink]="['/login']">identificate aquí</a>
  </div>
  <div class="alert-danger" *ngIf="status == 'error'">
    Usuario ya registrado
  </div>
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10">
    <p>
      <label>Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
      <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
    </p>
    <p>
      <label>Apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
      <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorios es obligatorio</span>
    </p>
    <p>
      <label>Email</label>
      <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
      <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
    </p>
    <p>
      <label>Contraseña</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
      <span *ngIf="!password.valid && password.touched">El email es obligatorio</span>
    </p>
    <input type="submit" value="{{titulo}}" class="btn btn-primary" [disabled]="!registerForm.form.valid"/>
</form>
</div>

